@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scroll-behavior: smooth;
}

#loading-bar {
    position: fixed;
    top: 0;
    left: 0;
    width: 15%;
    height: 4px;
    z-index: 999;
    animation: loading-bar 1s linear infinite alternate, loading-bar-load 1.5s linear infinite;
    transition: .5s;
}

#loading-bar.w-full {
    animation: loading-bar 1s linear infinite alternate, loading-bar-100 .5s ease-in-out forwards;
}

@keyframes loading-bar {
    0% {
        background-color: #72B184;
    }

    100% {
        background-color: #1CBC00;
    }
}

@keyframes loading-bar-load {
    to {
        transform: translateX(100vw);
    }
}

@keyframes loading-bar-100 {
    from {
        width: 0;
    }

    to {
        width: 100%;
    }
}

